{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Shift Scheduler</title>

    <script src="https://unpkg.com/htmx.org@2.0.7"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>

    <header>
        <h1>Shift Scheduler</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/admin">Admin</a>
        <a href="/logout">Logout</a>
    </nav>

    <main id="main-content">
        {{.Content}}
    </main>

    <script src="/static/js/scheduler.js"></script>
</body>
</html>
{{end}}
